@import '../../../media/variables';

.account-notify {
  position: relative;
  margin: 30px 0 40px;
  padding: 15px 50px 15px 30px;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 24px;
  color: $color-text2;
  border: 1px solid $color-blue2;
  background-color: $color-white;
  //box-shadow: 0 10px 18px 0 rgba(25, 38, 57, 0.05);
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 14px;
      height: 14px;
      opacity: 0.4;
      fill: $color-blue2;
    }
  }
}