@import '../../../media/variables';

.open-auditions {
  .table-box__head {
    padding-bottom: 15px;
  }
  .table-box__body {
    padding-top: 15px;
  }
  &-table {
    .rt-thead {
      .rt-tr {
        height: 40px;
        align-items: flex-start;
        .rt-th {
          vertical-align: top;
        }
      }
    }
    .rt-tr {
      .rt-th, .rt-td {
        &:nth-child(1) {
          width: 18.63% !important;
          padding-left: 10px;
        }
        &:nth-child(2) {
          width: 10.2% !important;
        }
        &:nth-child(3) {
          width: 8.63% !important;
        }
        &:nth-child(4) {
          width: 9.6% !important;
        }
        &:nth-child(5) {
          width: 10.6% !important;
        }
        &:nth-child(6) {
          width: 12.75% !important;
        }
        &:nth-child(7) {
          width: 10.78% !important;
        }
        &:nth-child(8) {
          width: 10.78% !important;
        }
        &:nth-child(9) {
          width: 8.03% !important;
          text-align: center;
        }
      }
    }
  }
}

.login {
  width: 100%;
  max-width: 350px;

  .form-checkbox_box {
    width: 100%;
  }

  .input-feedback {
    color: red;
    margin-top: .25rem;
  }
}