
@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Light/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  url('./fonts/Ubuntu-Light/Ubuntu-Light.woff') format('woff'), url('./fonts/Ubuntu-Light/Ubuntu-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),  url('./fonts/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'), url('./fonts/Ubuntu-Regular/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('./fonts/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'), url('./fonts/Ubuntu-Medium/Ubuntu-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  url('./fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'), url('./fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff') format('woff'), url('./fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}