
$font-ubuntu: 'Ubuntu', sans-serif;
$font-ssp: 'SourceSansPro', sans-serif;

$media-desktop: 1200px;
$media-tablet: 992px;
$media-mobile: 768px;
$media-extra: 480px;

$color-text: #192639;
$color-text2: #6b7881;
$color-label: rgba(25, 38, 57, 0.6);

$color-white: #ffffff;
$color-gray1: #D1DBE3;
$color-gray2: #9faab5;
$color-gray3: #f8f8f8;
$color-gray4: #6b7881;
$color-gray5: #babdc3;
$color-gray6: #7f8fa4;
$color-gray7: #e8edf1;
$color-gray8: #bdc3c7;
$color-gray9: #92a1a7;
$color-gray10: #bac7db;
$color-gray11: #7e8f9f;
$color-gray12: #e2e5e8;
$color-blue: #f2fcfd;
$color-blue2: #01afc4;
$color-blue3: #ebf9fb;
$color-blue4: #f9fdfe;
$color-blue5: #a0e2ea;
$color-blue6: #faffff;
$color-black: #000000;
$color-black2: #19242c;
$color-pink: #ea3571;
$color-green: #4da53c;
$color-dark-blue: #1e2b34;
